@using FootballMatchPredictor.Domain.ViewModels.Match

@model IEnumerable<MatchViewModel>

<div class="container pb-5">
    <div class="row mt-5">
        <div class="col-md-12">
            <p class="fs-3 text-center">
                Матчи
            </p>
        </div>
        <div class="col-md-12 text-center">
            <a class="btn bg-indigo br-40 text-white" role="button" asp-controller="UserProfile" asp-action="GetAdminPage">
                Выход на страницу админа
            </a>
        </div>
        <div class="col-md-12 text-center my-3">
            <button class="btn btn-success br-40 text-white" onclick="openModal({ url: '/Match/CreateMatch/', modalId: 'modalWindow', modalTitle:'Создание матча'})"
                    data-toggle="ajax-modal" data-target="Modal" type="button">
                Создать запись о новом матче
            </button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="table-responsive">
                @if (Model.Count() == 0)
                {
                    <p class="fs-5">
                        На данный момент никаких матчей нет...
                    </p>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Название первой команды</th>
                            <th scope="col">Название второй команды</th>
                            <th scope="col">Количество голов первой команды</th>
                            <th scope="col">Количество голов второй команды</th>
                            <th scope="col">Вероятность победы первой команды</th>
                            <th scope="col">Вероятность победы второй команды</th>
                            <th scope="col">Вероятность ничьи</th>
                            <th scope="col">Состояние матча</th>
                            <th scope="col">Изменение</th>
                            <th scope="col">Удаление</th>
                            <th scope="col">Дата матча</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var match in Model)
                        {
                            <tr>
                                <th scope="row">@match.Id</th>
                                <td>@match.Team1Name</td>
                                <td>@match.Team2Name</td>
                                <td>@match.Team1GoalsCount</td>
                                <td>@match.Team2GoalsCount</td>
                                <td>@match.Team1WinRate</td>
                                <td>@match.Team2WinRate</td>
                                <td>@match.DrawProbability</td>
                                <td>@match.MatchState</td>
                                <td>
                                    <button class="btn btn-info br-40 text-white" type="button"
                                            onclick="openModal({ url: '/Match/GetMatch/@match.Id', modalId: 'modalWindow', modalTitle:'Обновление матча'})"
                                            data-toggle="ajax-modal" data-target="Modal">
                                        Обновить
                                    </button>
                                </td>
                                <td>
                                    <form id="matchDelete-@match.Id">
                                        <input type="hidden" value="@match.Id" name="id" />
                                        <button class="btn bg-danger br-40 text-white" onclick="doActionWithConfirmation(event, { url: '/Match/DeleteMatch/@match.Id', formId: 'matchDelete-@match.Id', confirmationTitle: 'удалить матч?' })">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                                <td>@match.MatchDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
