@using FootballMatchPredictor.Domain.ViewModels.Match
@model List<MatchViewModel>

@{
    ViewBag.Title = "Все матчи";
}

<div class="container pb-5">
    @foreach (var match in Model)
    {
        <div class="row d-flex justify-content-start bg-dark text-white br-40 w-100 px-5 my-4 pt-2" style="min-height:130px;">
            <div class="col-md-3">
                <p class="fw-bold">
                    Команды:
                </p>
                <p>
                    @match.Team1Name
                </p>
                <p>
                    @match.Team2Name
                </p>
                <p>
                    Вероятность победы первой команды: @match.Team1WinRate
                </p>
                <p>
                    Вероятность победы второй команды: @match.Team2WinRate
                </p>
                <p>
                    Вероятность ничьи: @match.DrawProbability
                </p>
            </div>
            <div class="col-md-3">
                <p class="fw-bold">
                    Коэффициенты
                </p>
                <a type="button" class="btn bg-indigo br-40 text-white mb-3" asp-controller="Coefficient" asp-action="GetMatchCoefficients" asp-route-id="@match.Id">
                    Коэффициенты на этот матч
                </a>
            </div>
            <div class="col-md-3">
                <p class="fw-bold">
                    Забитые голы
                </p>
                <p>
                    @match.Team1GoalsCount
                </p>
                <p>
                    @match.Team2GoalsCount
                </p>
            </div>
            <div class="col-md-3">
                <p class="fw-bold">
                    Другая информация
                </p>
                <p>
                    @match.MatchState
                </p>
                <p>
                    @match.MatchDate
                </p>
            </div>
        </div>
    }
</div>
