@using FootballMatchPredictor.Domain.ViewModels.Match
@model List<MatchViewModel>

<div class="container">
    @foreach (var teamMatch in Model)
        {
        <div class="row bg-dark br-40 text-white mb-3 p-4">
            <div class="col-md-3 text-center">
                <img src="/images/team-match-picture.jpg" class="img-fluid d-block mx-auto br-40" style="height:100px;" />                            
            </div>
            <div class="col-md-3 text-center">
                <p>
                    Первая команда: @teamMatch.Team1Name
                </p>
                <p>
                    Вторая команда: @teamMatch.Team2Name
                </p>
            </div>
            <div class="col-md-3"> 
                <p class="text-white fs-6 fw-bold">
                    Голы команд
                </p>
                <p>
                    @teamMatch.Team1GoalsCount
                </p>
                <p>
                    @teamMatch.Team2GoalsCount
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    @teamMatch.MatchState
                </p>
                <p>
                    @teamMatch.MatchDate
                </p>
            </div>
        </div>
        }
</div>

