@using FootballMatchPredictor.Domain.Enums
@using FootballMatchPredictor.Domain.Extensions
@using FootballMatchPredictor.Domain.ViewModels.UserProfile
@model UserProfileViewModel

@{
    ViewBag.Title = "Ваш профиль";
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-dark rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item text-white"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="breadcrumb-item text-white"><a class="@(User.IsInRole("Admin") ? "" : "text-muted")" asp-controller="UserProfile" asp-action="GetAdminPage"> Страница админа</a></li>
                        <li class="breadcrumb-item text-white"><button class="all-unset text-white br-40" type="button"
                                    onclick="openModal({ url: '/Bet/WithdrawingMoney/', modalId: 'modalWindow', modalTitle:'Вывод денег'})"
                                    data-toggle="ajax-modal" data-target="Modal">
                                Вывод денежных средств
                            </button>
                        </li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Профиль пользователя</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 bg-dark">
                    <div class="card-body text-center pt-5">
                        @if (Model.Gender == "Мужчина")
                        {
                            <img class="img-fluid rounded-circle" style="height:200px;" src="/images/avatar-men-default.webp" />
                        }
                        else
                        {
                            <img class="img-fluid rounded-circle" style="height:200px;" src="/images/beautiful-woman-avatar.jpg" />
                        }
                        <h5 class="my-3">John Smith</h5>
                        <p class="mb-1 text-white">Сделайте ставку!</p>
                        <p class="mb-4 text-white">Ставки на фатбольные матчи – это захватывающий способ испытать свою удачу</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary br-40 mb-4" style="min-height:40px;"
                                    onclick="doActionWithPopupWindow(event, { url: '/UserProfile/UpdateUserInfo', formId: 'updateUserData' })">
                                Обновить данные
                            </button>
                            <button class="btn btn-outline-primary text-white mb-4 ms-1 br-40" type="button"  style="min-height:40px;"
                                    onclick="openModal({ url: '/UserProfile/GetUserStatistics/', modalId: 'modalWindow', modalTitle:'Статистика'})"
                                    data-toggle="ajax-modal" data-target="Modal">
                                Ваша статистика
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-4 bg-dark px-4">
                    <form id="updateUserData">
                        <input type="hidden" asp-for="Id" value="@Model.Id"/>
                        <div class="form-group row my-3">
                            <div class="col-sm-1 pt-2">
                                <label class="text-white" asp-for="Username">Логин</label>
                            </div>
                            <div class="col-sm-11 ps-4">
                                <input type="text" class="form-control" readonly asp-for="Username" value="@Model.Username">
                            </div>
                        </div>
                        <div class="form-group row my-3">
                            <div class="col-sm-1 pt-2 ">
                                <label class="text-white" asp-for="FirstName">Имя</label>
                            </div>
                            <div class="col-sm-11 ps-4">
                                <input type="text" class="form-control" asp-for="FirstName" value="@Model.FirstName">
                            </div>
                        </div>
                        <div class="form-group row my-3">
                            <div class="col-sm-1 pt-2">
                                <label class="text-white" asp-for="SurName">Фамилия</label>
                            </div>
                            <div class="col-sm-11 ps-4">
                                <input type="text" class="form-control" asp-for="SurName" value="@Model.SurName">
                            </div>
                        </div>
                        <div class="form-group row my-3">
                            <div class="col-sm-1 pt-2">
                                <label class="text-white" asp-for="Email">Почта</label>
                            </div>
                            <div class="col-sm-11 ps-4">
                                <input type="email" class="form-control" asp-for="Email" value="@Model.Email">
                            </div>
                        </div>
                        <div class="form-group row my-3">
                            <div class="col-sm-1 pt-2">
                                <label class="text-white" asp-for="Gender">Пол</label>
                            </div>
                            <div class="col-sm-11 ps-4">
                                <select class="form-control" id="userGenderId" data-minimum-results-for-search="Infinity" asp-for="Gender">
                                    <option>@Model.Gender</option>
                                </select>
                            </div>
                        </div>
                    </form> 
                </div>
                <div class="card mb-4 bg-dark px-4 text-white text-center pt-3"> 
                    <p class="text-white fs-4">
                        Ставки
                    </p>
                    <button type="button" class="btn btn-primary br-40 mb-4"
                            data-bs-toggle="modal" data-bs-target="#modalWideWindow" onclick="openModal({ url: '/Bet/GetUserBets', modalId: 'modalWideWindow', modalTitle:'Ставки @User.Identity.Name' })">
                        Ваши ставки
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        initSelect2ForEnum({ url: '/UserProfile/GetGenders', selectId: 'userGenderId', placeholder: 'Выберите пол', isModal: false });
    });
</script>


